<div class="container">
  <h1>Shipments</h1>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Source</th>
        <th>Target</th>
        <th>Item</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @assigned_shipments.each do |shipment| %>
        <tr>
          <td><%= shipment.source %></td>
          <td><%= shipment.target %></td>
          <td><%= shipment.item %></td>
          <td>
          <% if current_user.delivery_partner? %>
            <%= form_with(model: shipment, url: shipment_path(shipment), method: :patch, local: true, html: { class: "shipment-form" }) do |form| %>
                <%= form.select :status, options_for_select([['Not Started', 'not_started'], ['In Progress', 'in_progress'], ['Delivered', 'delivered']], shipment.status), {}, class: "form-control" %>
                <%= form.submit "Update", class: "btn btn-primary btn-sm", data: { redirect_url: shipment_path(shipment) } %>
            <% end %>
            <% else %>
              <%= shipment.status %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
